:root {
    --primary-color: #434455;
    --secondary-color: #2e2f42;
    --white-color: #ffffff;
    --second-logo-color: #4d5ae5;
    --first-logo-color: #2e2f42;
    --first-footer-logo-color: #4d5ae5;
    --second-footer-logo-color: #f4f4fd;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2e2f42;
    --gray-background-color: #f4f4fd;
    --accent-color: #4d5ae5;
    --active-accent-color: #ffffff;
    --accent-background-color: #f4f4fd;
    --active-accent-background-color: #404bbf;
    --customers-color: #8e8f99;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

/*price*/ 
.plan-container {
    display: flex;
    padding-top: 0;
}

.plan-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.plan-text {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0em;
    color: var(--primary-text-color);
    text-align: left;
    position: relative;
}

.plan-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #0A224A;
    min-width: 288px;
    padding: 30px 0;
}

.plan-item:last-child {
    border-bottom: 1px solid #0A224A;
}

.plan-options {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: right;
    color: var(--primary-text-color);
}



@media screen and (min-width: 768px) {
    .plan-text {
        font-size: 32px;
        line-height: 1.4;
    }

    .plan-list {
        max-width: 708px;
    }

    .plan-item {
        min-width: 704px;
    }

    .plan-options {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .plan-item {
        min-width: 1096px;
    }



    .plan-text::before {
        content: '';
        background-color: #0A224A;
        position: absolute;
        left: 0;
        right: 20px;
        bottom: 50%;


        width: 0;
        height: 0;
        flex-shrink: 0;
    }

    .plan-text:hover::before {
        width: 50px;
        height: 3px;

    }

    .plan-text:hover {
        padding-left: 80px;

    }

}

/*subscription*/

.subscription-title {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
}

.subscription-text {
    color: var(--primary-text-color);
    margin-bottom: 30px;
}

.subscription-field {
    position: relative;
    margin-bottom: 20px;
}

.subscription-input {
    width: 100%;
    height: 50px;
    border: 1px solid #b6b6b6;
    padding: 11px 20px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 18px;
    letter-spacing: 0.04em;
}

.input-error-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-input:focus {
    border-color: var(--primary-text-color);
}

.subscription-input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--placeholder-text-color);
}

.subscription-field input:focus::placeholder {
    opacity: 0;
}

.subscription-input:invalid:not(:placeholder-shown) {
    border: 1px solid #e74a3b;
    color: #e74a3b;
    outline: transparent;
    color: red;
    padding-right: 44px;
}

.subscription-input:invalid:not(:placeholder-shown)+.input-error-icon {
    fill: #e74a3b;
}
katya1
.subscription-checkbox {
    /*position: relative;*/
    margin-bottom: 30px;
}
/*.checkbox-box {
    margin-bottom: 24px;
}*/
.check-label {
    color: var(--checkbox-text-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
}
/*.privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
}*/




.subscription-check:checked+.check-label>.checkbox-span {
    background-color: var(--primary-text-color);
    border: none;
    fill: var(--white-text-color);
}

.subscription-check:focus+.check-label>.checkbox-span {
    border-color: var(--primary-text-color);
}
/*.privacy-checkbox:checked+.privacy-label>.checkbox-box-svg {   background-color: #404BBF;
    background-color: #404BBF;
    border: none;
    fill: var(--accent-background-color)
}*/

.check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    /*display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid #b6b6b6;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}


/*.privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
}*/



.subscription-send-button {
    /*display: block;
    /*min-width: 169px;*/
    /*height: 56px;
    /*font-family: "Roboto", sans-serif;*/
    /*margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    

    max-width: 224px;
    width: 100%;
    background-color: var(--primary-text-color);
    color: var(--white-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    padding: 17px 65px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);*/

    width: 100%;
    max-width: 224px;
    height: 50px;
    margin: 0 auto;
    /*background: var(--blue-font);*/
    background-color:#0A224A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    /*color: #ffffff;*/
}



/*.modal-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    background-color: #4D5AE5;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

/*.subscription-send-button:hover,
.subscription-send-button:focus {
    /*background-color: var(--button-accent-color);*/
    /*outline: transparent;*/
    /*border: none;
    background-color: #061835;
}*/

.subscription-send-button:hover {
    border: none;
    background-color: #061835;
}

.subscription-send-button:focus {
    border: none;
    background-color: #061835;
}
/*.modal-button:hover {
    border: none;
    background-color: #404bbf;
}

.modal-button:focus {
    border: none;
    background-color: #404bbf;
}*/


.subscription-form {
    margin-bottom: 30px;
}


lena1




.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-span {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

















@media screen and (min-width: 768px) {
    .subscription-main-container {
        max-width: 536px;
    }

    .subscription-title {
        font-size: 32px;
        line-height: 1.4;
        text-align: start;
        margin-bottom: 30px;
    }

    .subscription-text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .subscription-field {
        margin-bottom: 20px;
    }

    .subscription-input::placeholder {
        font-size: 18px;
    }

    .check-label {
        font-size: 18px;
    }

    .subscription-checkbox {
        margin-bottom: 31px;
    }

    .subscription-send-button {
        font-size: 18px;
        padding: 12px 65px;
    }

    .subscription-form {
        margin-bottom: 64px;
    }

    .subscription-img {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .subscription.section {
        padding-top: 100px;
        padding-bottom: 86px;
    }

    .subscription-input-section {
        display: flex;
        gap: 100px;
        align-items: center;
        justify-content: center;
    }

    .subscription-title {
        margin-bottom: 32px;
    }

    .subscription-text {
        margin-bottom: 21px;
    }

    .subscription-input {
        height: 52px;
        padding: 11px 20px;
    }

    .subscription-field {
        margin-bottom: 21px;
    }

    .subscription-checkbox {
        margin-bottom: 32px;
    }

    .subscription-form {
        margin-bottom: 0;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-box {
    margin-bottom: 24px;
    }
    .privacy-checkbox:checked+.privacy-label>.checkbox-box-svg {   background-color: #404BBF;
    background-color: #404BBF;
    border: none;
    fill: var(--accent-background-color)
    }
    .privacy-link {
    color: #4D5AE5;
    text-decoration: underline;
    display: inline-block;
    margin-left: 3px;
    }
    .checkbox-box-svg {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    }
    .privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    }
    .modal-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    background-color: #4D5AE5;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .privacy-checkbox:focus+.privacy-label .checkbox-box-svg {
    border-color: #404BBF;
    }
    